.contact-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 2rem;
    background-color: #4e3d3d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans', sans-serif;
    color: aliceblue;
    
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f8f3f3;
    font-size: 18px;
}

.contact-form .form-group {
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fbf5f5;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #5b5a5a;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s;
    color: #333;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #18c4e2;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #108680;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #136785;
}
